body {
  background-color: black;
  margin: 0;
  padding: 0;
  color: white; /* opcional: deixa o texto branco */
}

header {
    text-align: center; /* Centraliza o texto no cabeçalho */
    height: auto;
    min-height: 10vh;
}

.logo-rivool {
    width: 100;
    max-width: 100px;
    height: auto; /* Altura automática para manter a proporção */
    margin: 20px 0 40px 0;
}